body, html {
    width: 100%;
    height: 100%;
  }
  
  .clearfix {
    clear: both;
  }
  
  body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
  }

/**************** PAGE HOME **************/
/* Nom du site + slogan */
.name-slogan{
    text-align: center;
    padding: 50px 0 50px 0;
}

/* Cards */
.card-body{
    text-align: center;
}
.btn-card{
    border: none;
    border-radius: none !important;
    color: white;
}

.btn-card:hover{
    color: white;
    background-color:  #B8E2A1;
}

/* Green elements */
.bg-footer, .btn-card{
    background-color: #014204;
}

hr:not([size]) {
    margin: 5px 10%;
}